 ## Problem 1 :Retrieve the list of teams that played at least 3 home matches of type ‘F5’ between timestamp 1583001000 (1st March 2020) and timestamp 1583778600 (9th March 2020), and the number of matches they played

###### SELECT home_team_id, COUNT(*) AS match_count
###### FROM matches
###### WHERE type = 'F5'
  ###### AND timestamp BETWEEN 1583001000 AND 1583778600
###### GROUP BY home_team_id
###### HAVING COUNT(*) >= 3;

# Problem 2: Find out all unique users who have made a successful payment between timestamp 1583001000 (1st March 2020) and timestamp 1583778600 (9th March 2020)

###### SELECT DISTINCT user_id
###### FROM Payments
###### WHERE status = 2
  ###### AND gateway != 'tapjoy'
  ###### AND timestamp BETWEEN 1583001000 AND 1583778600;

# Problem 3: Find out all users who completed a payment between timestamps 1366137000 (17th April 2013) and 1397673000 (17th April 2014) and were still active after 1483209000 (1st Jan 2017)

###### SELECT DISTINCT p.user_id
###### FROM Payments p
###### JOIN Users u ON p.user_id = u.user_id
###### WHERE p.timestamp BETWEEN 1366137000 AND 1397673000
  ###### AND u.last_active_at > 1483209000;

# Problem 4: Find out all users who have not completed a single payment between timestamps 1366137000 (17th April 2013) and 1397673000 (17th April 2014) and were still active after 1483209000 (1st Jan 2017)

###### SELECT u.user_id
###### FROM Users u
###### LEFT JOIN Payments p ON u.user_id = p.user_id 
  ###### AND p.timestamp BETWEEN 1366137000 AND 1397673000
###### WHERE p.user_id IS NULL
  ###### AND u.last_active_at > 1483209000;